<nav> <span>
        <a href="/saved">Saved Articles</a>
        | <a href="/">Articles</a>
        | <a href="/api/articles/scrape">Scrape</a>
    </span></nav>
<div class="container">
    {{!-- <h5>Unsaved Articles:
        <span>
            <a href="/saved">View Saved Articles</a>
            | <a href="/">Articles</a>
            | <a href="/api/articles/scrape">Scrape</a>
        </span></h5> --}}

    <ul class="unsaved">

        {{#each articles}}

        <li data-article-id={{_id}}>
            <div class="card">
                <div class="card-title row">
                   <div ><a href={{link}} target="_blank">
            {{title}}
        </a></div>



                    <div class="col-s-12">

                        <a class="waves-effect waves-light btn saveArticle teal accent-3">Save</a>
                        <a class="waves-effect waves-light btn deleteArticle teal accent-3">Delete</a>
                    </div>
                </div>


            </div>
        </li>
        {{/each}}
    </ul>

</div>